{% extends 'base.html' %}
{% block title %}登记成绩{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>个人信息</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">个人信息</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">修改信息</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <form action="/form/" method="post">
                {% csrf_token %}
                    {% if request.session.is_login %}
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>用户编号</label>
                            <input type="text" class="form-control" value="{{ request.session.user_id }}" disabled="disabled">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>学生姓名</label>
                            <input type="text" class="form-control" value="{{ request.session.user_name }}" disabled="disabled">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>学院</label>
                            <input type="text" class="form-control" placeholder="{{ student.department.departmentName }}"
                                   name="student_department" >
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>密码</label>
                            <input type="text" class="form-control" placeholder="修改密码" value="{{ user_password }}"
                                    name="user_password">
                          </div>
                        </div>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-lg btn-default" onclick="display()">
                                提交修改
                            </button>
                        </div>
                    {% endif %}

                </form>
                <!-- /.card-body -->
                <div class="card-footer">
                    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and
                    information about
                    the plugin.
                </div>
            </div>
        </section>
    <script>
        function display(){
            window.history.back(-1);
        }
    </script>
    </div>

{% endblock %}
