{% extends 'base.html' %}
{% block title %}选课{% endblock %}
{% block content %}
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">个人课程信息表</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>课程名称</th>
                            <th>课程学分</th>
                            <th>成绩</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for score in score_inform %}
                            <tr>
                                <td>{{ score.scoreCourse }}</td>
                                <td>{{ score.scoreCredit }}</td>
                                <td>{{ score.score_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
{% endblock %}