{% extends 'base.html' %}
{% block title %}查询成绩{% endblock %}
{% block content %}
     <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>已选课程</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">个人课程信息表</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>课程号</th>
                            <th>课程名</th>
                            <th>学分</th>
                            <th>退课</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in course_inform_check %}
                            <form action="/stu4/" method="post">
                                {% csrf_token %}
                                <tr>
                                    <td>{{ course.courseID }}</td>
                                    <td>{{ course.courseName }}</td>
                                    <td>{{ course.courseCredit }}</td>
                                    <td>
                                        <button type="submit" class="btn btn-lg btn-default" onclick="display()"
                                                name="course_remove_id" value="{{ course.id }}">
                                            退课
                                        </button>
                                    </td>
                                </tr>
                            </form>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
    <script>
        function display() {
            alert("退课成功")
        }
    </script>
{% endblock %}