{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}

    {% if request.session.is_login %}
        <section class="content">
            <div class="container-fluid pt-4">

                <div class="row">
                    <div class="col-lg-3 col-6">
                        <a href="/cms/dashboard/post/manage" class="">
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>44</h3>
                                    <p>Post</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-copy"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-6">
                        <a href="/cms/dashboard/monitor/userip">
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>{{ day_visit_ip_num }}</h3>
                                    <p>New Visit</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-robot"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-6">
                        <a href="/cms/dashboard/monitor/userip">
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>{{ day_visit_num }}</h3>
                                    <p>New Visitor</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-6">
                        <a href="/cms/dashboard/monitor/userip">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>{{ total_visit_num }}</h3>
                                    <p>Total Visit</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-compass"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header border-0">
                                        <h3 class="card-title">Website Visitors</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <p class="d-flex flex-column">
                                                <span class="text-bold text-lg">{{ visit_week_total_number }}</span>
                                                <span>Visitors Over Time</span>
                                            </p>
                                            <span class="mr-2 ml-auto">
                                                <i class="fas fa-square text-primary"></i> This Week
                                            </span>
                                        </div>

                                        <div class="position-relative mb-4">
                                            <canvas id="visitors-chart" height="200"></canvas>
                                        </div>

                                        <div class="d-flex flex-row justify-content-end">

                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        var ticksStyle = {
                                            fontColor: '#495057',
                                            fontStyle: 'bold'
                                        }
                                        var $visitorsChart = $('#visitors-chart')
                                        var visitorsChart2 = new Chart($visitorsChart, {
                                            data: {
                                                labels: [30, 31, 1, 2, 3, 4, 5],
                                                datasets: [{
                                                    type: 'line',
                                                    data: [108, 152, 106, 134, 87, 132, 58],
                                                    backgroundColor: 'transparent',
                                                    borderColor: '#007bff',
                                                    pointBorderColor: '#007bff',
                                                    pointBackgroundColor: '#007bff',
                                                    fill: true
                                                }]
                                            },
                                            options: {
                                                maintainAspectRatio: false,
                                                tooltips: {
                                                    mode: 'index',
                                                    intersect: true
                                                },
                                                hover: {
                                                    mode: 'index',
                                                    intersect: true
                                                },
                                                legend: {
                                                    display: false
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        // display: false,
                                                        gridLines: {
                                                            display: true,
                                                            lineWidth: '4px',
                                                            color: 'rgba(0, 0, 0, .2)',
                                                            zeroLineColor: 'transparent'
                                                        },
                                                        ticks: $.extend({
                                                            beginAtZero: false,
                                                            suggestedMax: 152
                                                        }, ticksStyle)
                                                    }],
                                                    xAxes: [{
                                                        display: true,
                                                        gridLines: {
                                                            display: false
                                                        },
                                                        ticks: ticksStyle
                                                    }]
                                                }
                                            }
                                        })
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% else %}    <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}

{% endblock %}
